/*-- scss:rules --*/

/* Make the about page as wide as other pages */
.quarto-about-trestles {
  grid-column: page-start/page-end;
}

details {
  background-color: rgba(100, 100, 100, 0.2);
}

details summary {
  color: var(--bs-body-color);
  padding: 10px;
}

details :last-child {
  padding-bottom: 10px;
}

figcaption {
  font-style: italic;
}

.card-title {
  font-weight: bold;
}

/* When using Bootstrap block-style buttons (with <a> tag only), Quarto wraps
 * with a <p> tag that screws everything up.
 */
.blockfix p {
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}
