/* css styles */

/* Make the about page as wide as other pages */
.quarto-about-trestles {
  grid-column: page-start/page-end;
}

details {
  padding-left: 1.1rem;
}

details summary {
  color: var(--bs-body-color);
}
